/* Set Up */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 2px;
}

.app-shell {
  height: 100%;
  width: 100%;
  background: linear-gradient(#0c052d, #211266);
  position: absolute;
  /*%absolute or viewport absolute or fixed*/
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  -webkit-flex-direction: column;
}

/* Header */
.header {
  z-index: 1;
  width: 430rem;
  height: 100rem;
  margin-top: 20rem;
  position: absolute;
  box-sizing: content-box;
  /*border: 1px dashed white;*/
}

.title {
  width: 300rem;
  height: 43rem;
  position: relative;
  margin: 5rem 0 0 5rem;
  font-size: 48em;
  color: white;
  font-family: 'Economica', sans-serif;
  font-weight:600;
}

.line-break {
  width: 420rem;
  height: 1px;
  background-color: white;
  position: relative;
  left: 5rem;
  margin: 10rem 0 5rem 0;
}

.tag-line {
  width: 210rem;
  height: 43rem;
  position: relative;
  margin: 0 5rem 5rem 215rem;
  font-size: 22em;
  text-align: right;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}

.call-button {
  width: 55rem;
  height: 55rem;
  position: absolute;
  margin: -114rem 0 0 380rem;
  border-radius: 55rem;
}

.call-button img {
  height: 100%;
  width: auto;
  border-radius: 55rem;
}

/* Welcome */
.welcome-container {
  width: 380rem;
  position: absolute;
  margin-top: 140rem;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.welcome-paragraph {
  font-size: 22em;
  color: white;
}

/* Splash Buttons */
.button-container {
  width: 320rem;
  height: 400rem;
  /*border: 1px dotted white;*/
  position: absolute;
  margin-top: 230rem;
}

.button {
  width: 94%;
  height: 30%;
  /*border: 1px dashed white;*/
  position: relative;
  left: 10rem;
  margin-top: 10rem;
  text-align: center;
}

.button img {
  height: 90%;
  width: auto;
  margin-top: 2.5%;
  /*border: 1rem solid red;*/
  border-radius: 55rem;
}

img:hover {
  box-shadow: 2rem 2rem 10rem 2rem black;
}

/* Map Container */
.map-container {
  width: 420rem;
  height: 500rem;
  position: absolute;
  top: 150rem;
  box-shadow: inset 0 0 6rem 4rem;
  box-sizing: content-box;
}

.map-border {
  width: 412rem;
  height: 492rem;
  position: relative;
  overflow: auto;
  margin: 4rem 0 0 4rem;
  box-sizing: content-box;
}

#mapid {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Taxi View */
.taxi-container {
  width: 320rem;
  height: 400rem;
  /*border: 1px dotted white;*/
  position: absolute;
  margin-top: 230rem;
  border: 1px dashed white;
}

.taxi-price {
  width: 94%;
  height: 30%;
  /*border: 1px dashed white;*/
  position: relative;
  left: 10rem;
  margin-top: 10rem;
  text-align: center;
  color: white;
  font-size: 48rem;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 10%;
}

/* Directions Container */
.directions-container {
  width: 470rem;
  height: 850rem;
  position: absolute;
  box-sizing: content-box;
  overflow: auto;
}

.directions-container img {
  width: auto;
  height: 100%;
  position: relative;
  border: 0px;
  border-radius: 0px;
  margin-top: 0;
}

/* Footer */
.controls-container {
  width: 448rem;
  height: 60rem;
  position: absolute;
  bottom: 30rem;
  box-sizing: content-box;
}

.back-button {
  width: 12%;
  height: 85%;
  position: relative;
  margin: 5rem 0 5rem 5rem;
  border-radius: 55rem;
}

.back-button img {
  height: 100%;
  width: auto;
  margin: 0;
  border-radius: 55rem;
  padding: 2rem;
}

.next-button {
  width: 25%;
  height: 85%;
  position: absolute;
  margin: -58rem 0 0 168rem;
  font-size: 24em;
  text-align: center;
  padding-top: 12rem;
  color: white;
  background-color: #0c052d;
  /*box-shadow: 0 0 10rem 1rem #4e5f82;*/
  font-family: 'Roboto Condensed', sans-serif;
}

.next-button:hover {
  box-shadow: 2rem 2rem 5rem 1rem black;
}
