/* Colors */

.navy-background {
  background: (#163d7d, #1b4996);
}

.sky-blue {
  color: #6e9fee;
}

.white-background {
  background-color: white;
}

.white {
  color: white;
}

.grey {
  color: #888f96;
}

/* Fonts */


/* Alignment */


/* Sizing */
#mapid {
  height: 360px;
}
