/* Colors */

.navy-background {
  background-color: #163d7d;
}

.sky-blue {
  color: #6e9fee;
}

.white-background {
  background-color: white;
}

.white {
  color: white;
}

.grey {
  color: #888f96;
}

/* Fonts */


/* Alignment */


/* Sizing */
