<div class="app-shell">
  {{> header}}
  <p class="intro-text">Welcome!<br />How will you be arriving?</p>

  <div class="button-container">
    <a href="/car" class="a-splash"><div class="splash-button"><img class="transport-type" src="/images/car-4-128.jpg" alt="arriving by car"></div></a>

    <a href="/bus" class="a-splash"><div class="splash-button"><img class="transport-type" src="/images/bus-128.jpg" alt="arriving by bus"></div></a>

    <a href="/taxi" class="a-splash"><div class="splash-button btn-3"><img class="transport-type" src="/images/taxi-128.jpg" alt="arriving by taxi"></div></a>
  </div>
