
  <p class="intro-text">Welcome! How will you be arriving?</p>
  <div class="button-container">
    <div class="splash-button"><img src="" alt=""></div>
    <div class="splash-button"><img src="" alt=""></div>
    <div class="splash-button"><img src="" alt=""></div>
  </div>
