
<div class="app-shell">
  <h1 class="logo">PAS</h1>
  <div class="line-break"></div>
  <div class="tag-line"><p>Park & Sleep</p></div>
  <p class="intro-text">Welcome! How will you be arriving?</p>
  <div class="button-container">
    <div class="splash-button"><img src="" alt=""></div>
    <div class="splash-button"><img src="" alt=""></div>
    <div class="splash-button"><img src="" alt=""></div>
  </div>
</div>
