<div class="app-shell">
  {{> header}}
  <p class="intro-text">Welcome!<br />How will you be arriving?</p>

  <div class="button-container">
    <a href="/car"><div class="splash-button"><img class="transport-type" src="/images/car-4-128.jpg" alt="arriving by car"></div></a>

    <!-- when we make the bus route page we need to add the a tag here -->
    <div class="splash-button"><img class="transport-type" src="/images/bus-128.jpg" alt="arriving by bus"></div>

    <!-- when we add the taxi route we need to add the a tag here -->
    <div class="splash-button btn-3"><img class="transport-type" src="/images/taxi-128.jpg" alt="arriving by taxi"></div>
  </div>
