<div class="app-shell">

  {{> header}}
  <p class="intro-text">Estimated cost from your<br />location is:</p>
  <div class="price">$7.50 USD</div>
  <div class="gett-button">
    <img class="taxi-img" src="images/taxi-128.jpg" alt="">
  </div>

  <a href="/" class="back-button">
    <img class="arrow" src="/images/arrow-121-128.png" alt="click to go back">
  </a>

</div>
