<div class="controls-container">
  <a href={{backLink}}><div class="back-button" style="background-color:{{color}}"><img src="../images/arrow.png"></div></a>
  <a href={{nextLink}}><div class="next-button">{{nextText}}</div></a>
</div>
