<div class="button-container">
  <a href="/method"><div class="button"><div>Daher</div></div>
  <a href="/method"><div class="button"><div>SimSim</div></div>
  <a href="/method"><div class="button"><div>Vitrage</div></div>
</div>
