<div class="header">
  <div class="header-top">
    <h1 class="logo">{{logo}}</h1>
    <img class="phone" src="/images/phone-39-128.png" alt="call now">
  </div>
  <div class="line-break"></div>
  <div class="tag-line"><p>{{tagLine}}</p></div>
</div>
