<div class="button-container">
  <a href="/car"><div class="button"><img src='/images/car.svg'></div></a>
  <a href="/bus"><div class="button"><img src='/images/bus.svg'></div></a>
  <a href="/taxi"><div class="button"><img src='/images/taxi.svg'></div></a>
</div>
